body, html, a, p, h1, ul {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: white;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;

}

#container {
  background-color: hsl(257, 40%, 49%);
  background-image: url(images/bg-desktop.svg);
  width: 75%;
  height: 800px;
  margin: 30px auto;
}


.logo {
  padding: 50px;
}

.items {
  display: flex;
  align-items: center;
}

.image {
  margin: 0 50px;
  width: 50%;
}

.image img {
  width: 100%;
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 35%;
  margin-bottom: 50px;
}

.texts h1, .texts p {
  color: white;
  margin-bottom: 20px;
}

.texts h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2.5em;
}

.texts p {
  font-family: 'Open Sans', sans-serif;
}

.social-medias {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  text-align: center;
  margin-right: 50px;
}

.social-medias ul{
  display: flex;
}

.social-medias ul li {
  width: 20px;
  height: 21px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid white;
  margin-right: 10px;
}


.button {
  width: 160px;
  padding: 10px;
  background-color: white;
  color: hsl(257, 40%, 49%);
  text-align: center;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 5px #2c2c2c;
  cursor: pointer;
}

.button:focus {
  outline: none;
}


.button:hover, .social-medias li:hover {
  background-color: hsl(300, 69%, 71%);
  color: white;
  transition: 0.5s;
}


.attribution { 
  font-size: 11px; 
  text-align: center; 
  color: black;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media (max-width: 1000px){
  #container {
    height: auto;
    background-image: url(images/bg-mobile.svg);
  }

  .items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .texts, .image {
    max-width: 80%;
    width: 80%;
    margin-bottom: 20px;
  }

  .texts h1 {
    font-size: 2em;
  }
}

@media (max-width: 700px){

  .logo img {
    width: 100px;
  }

  .logo {
    padding: 25px;
  }

  .items {
    text-align: center;
    width: 100%;
  }
  .texts h1, .texts p {
    text-align: center;
  }

  .texts h1 {
    font-size: 1.1em;
  }

  .image {
    margin: auto;
  }

  .social-medias {
    width: 90%;
    justify-content: center;
  }
}